@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
body{
    min-height: 100vh;
}
header {
    background: darkblue;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    width: 100%;
    height: 550px;
    max-width: 820px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.4);
    overflow: hidden;
    grid-template-columns: repeat(2,1fr);
    display: grid;
    z-index: 1000;
}
.contact{
    background: #05055a;
}
.submit-form{
    background: white;
}
.first-text{
    color: aliceblue;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 35px;
}
.image{
    height: 350px;
    width: 350px;
}
.social-links span{
    color: white;
    margin-left: 1rem;
}
.social-media{
    display: flex;
    list-style: none;
    gap: 5px;
    margin-left: 1rem;
}
 ul li{
    padding: left;
    font-size: 24px;
    margin-top: 10px;
}
.social-media i{
    background: white;
    color: black;
    padding: 1px;
    border-radius: 5px;
    transition: .3s;
    left: 5px;
}
.social-media i:hover{
    background: blue;
    color: white;
}
.third-text{
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 20px;
    padding-top: 10px;
    color: darkblue;
}
form{
    padding: 0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.input-box{
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;
}
.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid darkblue;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: darkblue;
    font-size: 16px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: darkblue;
}
.input-box .input:focus ~ label,
.input-box .input:focus ~ label{
    top: -1px;
    left: 10px;
    background: white;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
    color: darkblue;
}
textarea.input{
    resize: none;
    overflow: auto;
    color: darkblue;
    min-height: 150px;
}
.btn
{
    position:relative;
    top: 100px;
    background:darkblue;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 45px;
    width: 30%;
    color: white;
    cursor: pointer;
    font-weight: 500;
}
footer {
    background: darkblue;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
@media(max-width:850px){
    .item{
        grid-template-columns: 1fr;
    }
    .contact{
        display: none;
    }
    .text{
        font-size: 40px;
        text-align: center;
    }
    .btn{
        width: 25%;
        height: 40px;
        font-size: 12px;
    }
}
@media(max-width:480px){
    .item{
        grid-template-columns: 1fr;
    }
    .contact{
        display: none;
    }
    .text{
        font-size: 20px;
        text-align: center;
    }
    .btn{
        width: 20%;
        height: 40px;
        font-size: 12px;
    }
}