@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

:root {
  --gradient: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: #051120;
  color: white;
}

* {
  scrollbar-width: auto;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #051120;
}

*::-webkit-scrollbar-thumb {
  background-color: #5087ff85;
  border-radius: 20px;
}

.fancy {
  height: 20vh;
  width: 70vw;
  position: fixed;
  background: var(--gradient);
  top: 5rem;
  right: -5rem;
  filter: blur(200px);
  border-radius: 100%;
  z-index: -1;
}
.fancy2 {
  height: 15vh;
  width: 70vw;
  position: fixed;
  background: var(--gradient);
  bottom: 5rem;
  left: -10rem;
  filter: blur(200px);
  border-radius: 100%;
  z-index: -1;
}
